   <div id="user-list">
        <ul>
            {{#each users}}
                <li>
                    <a href="#" class="user-name" data-user-id="{{id}}">{{first_name}}</a>
                    {{#if dogs}}
                        <ul>
                            {{#each dogs}}
                                <li>
                                    <a href="#" class="dog-name" data-dog-id="{{id}}">{{name}}</a>
                                    {{#if events}}
                                        <ul>
                                            {{#each events}}
                                                <li><a href="#" class="event-name" data-event-id="{{id}}">{{event_type}}</a></li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>

    <!-- Modal -->
    <div id="userModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <div class="modal-body">
            </div>
        </div>
    </div>

